<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oldeighthome.heavennote.mapper.SubscriptionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.oldeighthome.heavennote.entity.Subscription">
        <id column="id" property="id" />
        <result column="author_id" property="authorId" />
        <result column="note_id" property="noteId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, author_id, note_id
    </sql>

</mapper>
